.css-checkout-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  row-gap: 3px;
}

.css-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}


.form-box {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
}