.all-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 100%;
  padding:10px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.left-box{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  width: 20%;
  padding:0 20px;
}

.left-title{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.check-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 5px;
}

.register-box{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
}